.mainStack {
  padding: 5px;
  height: 100vh;
}

.logoContainer {
  height: 90px;
}

.logo {
  height: 100%;
  object-fit: contain;
  object-position: top;
  padding-right: 2px;
  width: 100%;
}

.logoSpacer {
  height: 0px;
  padding: 0;
  margin: 0;
}

.label {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  font-size: 0.8em;
  justify-content: left;
  margin-bottom: -6px;
}
