.cardContent {
  cursor: pointer;
  padding: 16px !important;
}

.iconContainer {
  border-right: 1px solid #cccccc;
  height: 58px;
  padding: 2px;
}

.pieceContainer {
  width: 200px;

}

.title {
  line-height: 1.25;
}

.category {
  padding-bottom: 3px;
}

.text {
  line-height: 1.25;
}
