.cardContent {
  cursor: pointer;
  padding: 16px !important;
}

.iconContainer {
  height: 58px;
}

.pieceContainer {
  border-left: 1px solid #cccccc;
  padding-left: 10px;
  width: 135px;

}

.title {
  line-height: 1.25;
  text-transform: capitalize;
}

.category {
  padding-bottom: 3px;
}

.text {
  line-height: 1.25;
}
