.cardContent {
  cursor: pointer;
  padding: 16px !important;
}

.pieceContainer {
  width: 150px;
}

.title {
  line-height: 1.25;
}

.category {
  padding-bottom: 3px;
}

.text {
  line-height: 1.25;
}
