.progress {
  padding: 5px;
}

.card {
  background-color: #f5f5f5 !important;
  height: 100% !important;
  overflow-y: scroll !important;
  width: fit-content;
}

.cardContent {
  padding: 10px !important;
}

.stack {
}
