.progress {
  padding: 5px;
}

.stackContainer {
  overflow-y: auto;
  width: fit-content;
  height: 100%;
}

.pieceContainer {
  cursor: pointer;
  border: 1px solid black;
  width: 200px;
}

.name {
  text-align: center;
}


.description {
  font-size: 0.7em;
}
