.progress {
  padding: 5px;
}

.card {
  background-color: #f5f5f5 !important;
  height: 100% !important;
  width: fit-content;
}

.cardContent {
  height: 100% !important;
  padding: 10px !important;
}

.stack {
  height: calc(100vh - 40px);
  overflow-y: scroll;
  padding-right: 10px;
  padding-bottom: 5px;
}
