.cardContent {
  cursor: pointer;
  padding: 16px !important;
}

.pieceContainer {
  width: 200px;
}

.name {
  font-size: 0.75em;
  font-weight: bold;
  line-height: 1.3;
}

.category {
  color: #888888;
  font-size: 0.65em;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 3px;
}

.description {
  font-size: 0.65em;
  line-height: 1.25;
}