.progress {
  padding: 5px;
}

.errorContainer {
  padding: 5px;
}

.trackLayout {
  height: 100%;
  background-image: url("/layout-background.jpg");
  background-size: contain;
  background-position: bottom left;
  background-repeat: no-repeat;
}
