.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.logoContainer {
  height: 100px;
}

.logo {
  height: 100%;
  object-fit: contain;
  object-position: left;
  width: 100%;
}

.title {
  padding-top: 5px;
}

.trackLayoutContainer {
  flex: 1; /* Take up remaining space */
  padding: 10px;
  overflow: hidden;
}
