.appContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  border-bottom: 1px solid #c7c4c4;
}

.logoContainer {
  height: 80px;
}

.logo {
  height: 100%;
  object-fit: contain;
  object-position: left;
  padding: 5px 0 5px 10px;
  width: 100%;
}

.trackLayoutContainer {
  flex: 1; /* Take up remaining space */
  padding: 5px;
  overflow: hidden;
}
