.mainBox {
  background: linear-gradient(to bottom, aliceblue, lightblue);
}

.logoContainer {
  height: 80px;
}

.logo {
  height: 100%;
  object-fit: contain;
  object-position: left;
  padding: 5px 0 5px 10px;
  width: 100%;
}

.trackLayoutContainer {
  height: 100vh;                /* force viewport height */
  width: 100%;                  /* full width */
  display: flex;                /* allow children to stretch */
  align-items: stretch;         /* stretch child vertically */
  justify-content: bottom left;
  overflow: hidden;
}
